pyasn1~=0.4.8
pyOpenSSL~=19.1.0

# Upgraded on dependabot issue
# https://github.com/jookies/jasmin/security/dependabot/19
Twisted~=23.10.0

# install twisted requests since they changed how that all works
treq~=22.1.0
pyparsing~=2.4.7
python-dateutil~=2.8.1
service_identity~=18.1.0
lockfile~=0.12.2

falcon~=2.0.0
txredisapi~=1.4.7
tabulate~=0.8.7

txAMQP3~=0.9.3
smpp.pdu3~=0.6
smpp.twisted3~=0.7
python-messaging~=0.5.13

# Upgrade to 41.0.4
# https://github.com/jookies/jasmin/security/dependabot/17
cryptography>=41.0.4

# Added in 0.9rc16:
celery>=4.0.0
redis~=3.4.1

# Upgraded on dependabot issue
# https://github.com/jookies/jasmin/security/dependabot/14
requests~=2.31.0

# For REST API
python-mimeparse~=1.6.0

# For /metrics (prometheus exporter)
prometheus-client~=0.14.1
