pyasn1~=0.4.8
pyOpenSSL~=19.1.0
Twisted~=20.3.0
# install twisted requests since they changed how that all works
treq~=20.3.0
pyparsing~=2.4.7
python-dateutil~=2.8.1
service_identity~=18.1.0
lockfile~=0.12.2

falcon~=2.0.0
txredisapi~=1.4.7
tabulate~=0.8.7

txAMQP3~=0.9.0
smpp.pdu3~=0.6
smpp.twisted3~=0.6
python-messaging~=0.5.13

# Added in 0.9rc16:
celery>=4.0.0
redis~=3.4.1
requests~=2.23.0

# For REST API
python-mimeparse~=1.6.0
