# Resolved from the frozen Python 3.12 baseline image on 2026-07-14.
# Used as a constraints file; upstream requirements remain unchanged.
alabaster==0.7.16
amqp==5.3.1
annotated-doc==0.0.4
astroid==4.0.4
attrs==26.1.0
Automat==25.4.16
babel==2.18.0
beautifulsoup4==4.15.0
billiard==4.2.4
celery==5.4.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
coverage==7.15.1
coveralls==4.1.0
cryptography==43.0.3
dill==0.4.1
docutils==0.21.2
falcon==3.1.3
furo==2023.9.10
hyperlink==21.0.0
idna==3.18
imagesize==2.0.0
Incremental==24.11.0
isort==8.0.1
Jinja2==3.1.6
kombu==5.6.2
lockfile==0.12.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
packaging==26.2
platformdirs==4.10.0
prometheus_client==0.21.1
prompt_toolkit==3.0.52
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pylint==4.0.6
pyOpenSSL==24.2.1
pyparsing==3.1.4
python-dateutil==2.8.2
python-messaging==0.5.13
python-mimeparse==1.6.0
redis==5.1.1
requests==2.32.5
rich==15.0.0
service-identity==24.2.0
shellingham==1.5.4
six==1.17.0
smpp.pdu3==0.6
smpp.twisted3==0.8
snowballstemmer==3.1.1
soupsieve==2.8.4
Sphinx==7.4.7
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tabulate==0.8.10
testfixtures==12.3.0
tomlkit==0.15.0
treq==24.9.1
Twisted==23.10.0
txAMQP3==0.9.4
txredisapi==1.4.12
typer==0.26.8
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
zope.interface==8.5
