[Unit]
Description=Jasmin SMS Restful API server
Requires=network.target jasmind.service jasmin-celery.service
After=network.target jasmind.service

[Service]
SyslogIdentifier=jasmin-restapi
PIDFile=/run/jasmin-restapi.pid
User=jasmin
Group=jasmin
ExecStart=/bin/sh -c "twistd3 -n --pidfile=/tmp/twistd-web-restapi.pid web --wsgi=jasmin.protocols.rest.api"

[Install]
WantedBy=multi-user.target
