[Unit]
Description=Jasmin SMS Restful API server
Requires=network.target jasmind.service
After=network.target jasmind.service

[Service]
SyslogIdentifier=jasmin-restapi
PIDFile=/var/run/jasmin-restapi.pid
User=jasmin
Group=jasmin
ExecStart=gunicorn -b 0.0.0.0:1402 jasmin.protocols.rest:api

[Install]
WantedBy=multi-user.target
