[Unit]
Description=Jasmin SMS Gateway DLR throwing standalone daemon
Requires=network.target jasmind.service
After=network.target jasmind.service

[Service]
SyslogIdentifier=jasmin-dlrd
PIDFile=/run/jasmin-dlrd.pid
User=jasmin
Group=jasmin
ExecStart=/usr/local/bin/dlrd.py

[Install]
WantedBy=multi-user.target
