[Unit]
Description=Jasmin SMS Gateway DLR lookup standalone daemon
Requires=network.target jasmind.service
After=network.target jasmind.service

[Service]
SyslogIdentifier=jasmin-dlrlookupd
PIDFile=/run/jasmin-dlrlookupd.pid
User=jasmin
Group=jasmin
ExecStart=/usr/local/bin/dlrlookupd.py

[Install]
WantedBy=multi-user.target
