[Unit]
Description=Jasmin SMS Gateway
Requires=network.target jasmin-interceptord.service jasmin-deliversmd.service jasmin-dlrd.service jasmin-dlrlookupd.service
After=network.target

[Service]
SyslogIdentifier=jasmind
PIDFile=/run/jasmind.pid
User=jasmin
Group=jasmin
ExecStart=/opt/jasmin-sms-gateway/venv/bin/jasmind.py --enable-interceptor-client
EnvironmentFile=/etc/jasmin/jasmind.environment

[Install]
WantedBy=multi-user.target
